<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Classes and Styles</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/cart-controller.js"></script>
</head>
<body>

	<div ng-controller="CartController">
		<div ng-repeat="item in items">
			<span>{{item.title}}</span>
			<input ng-model="item.quantity">
			<span>{{item.price | currency}}</span>
			<span>{{item.price * item.quantity | currency}}</span>
		</div>
	
		<div>Total: {{bill.total | currency}}</div>
		<div>Discount: {{bill.discount | currency}}</div>
		<div>Subtotal: {{bill.subtotal | currency}}</div>
	</div>

</body>
</html>
